* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

.body {
  margin: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  padding-inline: 2rem;
  padding-block: 1rem;
  font-size: 2rem;
  font-family: Verdana, sans-serif;
  border: 0.5rem solid;
  cursor: pointer;
}
